<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Activity Preferences</h1>
<div th:if="${!preferencesExists}">
    <p>You don't have any activity preferences yet!</p>
    <a href="/editActivityPreferences">Edit Activity Preferences</a>
</div>
<div th:if="${preferencesExists}">
    <p>These are your current activity preferences:</p>
    <ul>
        <li th:each="activity : ${activityList}">
            <p>Adventure: <span th:text="${activity.adventure}"></span></p>
            <p>Skill Level: <span th:text="${activity.skillLevel}"></span></p>
            <p>Attitude: <span th:text="${activity.attitude}"></span></p>
        </li>
    </ul>
    <a href="/editActivityPreferences">Edit Preferences</a>
</div>
</body>
</html>
