<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Activity Preferences</h1>
<div th:if="${!preferencesExists}">
    <p>You don't have any activity preferences yet!</p>
    <a href="/editActivityPreferences">Edit Activity Preferences</a>
</div>
<div th:if="${preferencesExists}">
    <p>These are your current activity preferences:</p>
    <p>Skiing - Skill Level:<span th:text="${activity.skiingSkillLevel}">Blah</span> and Attitude: <span th:text="${activity.skiingAttitude}">Blah</span></p>
    <p>Backpacking - Skill Level:<span th:text="${activity.backpackingSkillLevel}">Blah</span> and Attitude: <span th:text="${activity.backpackingAttitude}">Blah</span></p>
    <p>Travel - Skill Level:<span th:text="${activity.travelSkillLevel}">Blah</span> and Attitude: <span th:text="${activity.travelAttitude}">Blah</span></p>
    <p>Hiking - Skill Level:<span th:text="${activity.hikingSkillLevel}">Blah</span> and Attitude: <span th:text="${activity.hikingAttitude}">Blah</span></p>
    <p>Holidate - Skill Level:<span th:text="${activity.holidateSkillLevel}">Blah</span> and Attitude: <span th:text="${activity.holidateAttitude}">Blah</span></p>
    <a href="/editActivityPreferences">Edit Preferences</a>
</div>
<p>Click <a th:href="@{/}">here</a> to main.</p>
</body>
</html>
