<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Activity Preferences</h1>
<div th:if="${!preferencesExists}">
    <form action="/editActivityPreferences" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <!--TODO: Figure out how to display the List of Activities-->
        <!-- Iterate over a predefined list of adventure names -->
        <div th:each="adventureName : ${{'Skiing', 'Backpacking', 'Travel', 'Hiking', 'Holidate'}}">
            <label th:text="${adventureName}"></label>
            <select name="activityList[__${adventureName}__].skillLevel">
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
            </select>
            <select name="activityList[__${adventureName}__].attitude">
                <option value="Immersion">Immersion</option>
                <option value="Relaxation">Relaxation</option>
                <option value="Challenge">Challenge</option>
                <option value="Exercise">Exercise</option>
            </select>
            <br/>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
<div th:if="${preferencesExists}">
    <form action="/editActivityPreferences" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <!--TODO: Figure out how to display the List of Activities-->
        <!-- Iterate over the existing activityList -->
        <div th:each="activity : ${activityPreferences.activityList}">
            <label th:text="${activity.adventureName}"></label>
            <select th:name="'activityList[' + ${activity.adventureName} + '].skillLevel'">
                <option value="Beginner" th:selected="${activity.skillLevel == 'Beginner'}">Beginner</option>
                <option value="Intermediate" th:selected="${activity.skillLevel == 'Intermediate'}">Intermediate</option>
                <option value="Advanced" th:selected="${activity.skillLevel == 'Advanced'}">Advanced</option>
            </select>
            <select th:name="'activityList[' + ${activity.adventureName} + '].attitude'">
                <option value="Immersion" th:selected="${activity.attitude == 'Immersion'}">Immersion</option>
                <option value="Relaxation" th:selected="${activity.attitude == 'Relaxation'}">Relaxation</option>
                <option value="Challenge" th:selected="${activity.attitude == 'Challenge'}">Challenge</option>
                <option value="Exercise" th:selected="${activity.attitude == 'Exercise'}">Exercise</option>
            </select>
            <br/>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>