<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Activity Preferences</title>
</head>
<body>
<h1>Activity Preferences</h1>
<form action="/editActivityPreferences" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div>
        <label for="skiing">Skiing:</label>
        <input type="checkbox" id="skiing" name="skiing" th:checked="${preferences.skiing}">
    </div>
    <div>
        <label for="hiking">Hiking:</label>
        <input type="checkbox" id="hiking" name="hiking" th:checked="${preferences.hiking}">
    </div>
    <div>
        <label for="backpacking">Backpacking:</label>
        <input type="checkbox" id="backpacking" name="backpacking" th:checked="${preferences.backpacking}">
    </div>
    <div>
        <label for="travel">Travel:</label>
        <input type="checkbox" id="travel" name="travel" th:checked="${preferences.travel}">
    </div>
    <div>
        <label for="holidate">Holidate:</label>
        <input type="checkbox" id="holidate" name="holidate" th:checked="${preferences.holidate}">
    </div>
    <input type="submit" value="Submit">
</form>
<p>Click <a th:href="@{/}">here</a> to main.</p>

</body>
</html>