<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome!</h1>
<p>You are successfully logged in <span style="font-weight:bold" th:text="${name}"></span></p>

<p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
<p>Click <a th:href="@{/profile}">here</a> to visit your profile.</p>
<p>Click <a th:href="@{/activityPreferences}">here</a> to visit your activity preferences.</p>


<h2>Share Text</h2>
<form th:action="@{/share}" method="get">
    <label for="author">Author:</label>
    <input type="text" id="author" name="author" required><br><br>

    <label for="text">Text:</label>
    <textarea id="text" name="text" rows="4" cols="50" required></textarea><br><br>

    <button type="submit">Share</button>
</form>


<p>Click <a th:href="@{/conversation/selector}">here</a> to visit your messaging.</p>

</body>
</html>